<div>
    <button ng-click="deckseCtrl.creating=true">Create New Deck</button>
</div>

<div class="row">
    <div class="col-sm-4" ng-repeat="card in decksCtrl.allCards">
        <div class="item_holder">
            <p>Card Name: {{card.name}}</p>
            <p>Description: {{card.description}}</p>
            <p>Attack Level: {{card.attackLevel}}</p>
            <p>Defense Level: {{card.defenseLevel}}</p>
            <input id="checkBox" type="checkbox">
        </div> <!--item holder-->
    </div> <!--col end-->
</div>
